<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wong.store.product.mapper.BrandMapper">
    <!--  映射查询到的字段 -->
    <resultMap id="brandMap" type="com.wong.store.model.entity.product.Brand" autoMapping="true"/>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,name,logo,create_time,update_time,is_deleted
    </sql>
    <select id="queryAll" resultMap="brandMap">
        SELECT
        <include refid="columns"/>
        FROM brand WHERE is_deleted = 0
    </select>
</mapper>