<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wong.store.manager.mapper.SysRoleMenuMapper">

    <!-- 获取指定角色Id对应的菜单Id列表 -->
    <select id="queryAllMenuIdsByRoleId" resultType="java.lang.Long">
        SELECT menu_id
        FROM sys_role_menu
        WHERE role_id = #{roleId}
          AND is_deleted = 0
          AND is_half = 0
    </select>

    <!-- 根据角色Id删除相关数据 -->
    <delete id="deleteByRoleId">
        DELETE
        FROM sys_role_menu
        WHERE role_id = #{roleId}
    </delete>

    <!-- 给指定角色分配指定菜单 -->
    <insert id="save">
        INSERT INTO sys_role_menu(role_id, menu_id, is_half, create_time, update_time, is_deleted)
        VALUES
        <foreach collection="menuInfoList" item="menuInfo" separator=",">
            (#{roleId}, #{menuInfo.id}, #{menuInfo.isHalf}, NOW(), NOW(), 0)
        </foreach>
    </insert>

    <!-- 根据菜单Id修改is_half状态 -->
    <update id="updateIsHalf">
        UPDATE sys_role_menu
        SET is_half = 1
        WHERE menu_id = #{menuId}
    </update>
</mapper>